{% extends 'base.html' %}
{% load static %}
{% load tags %}
{% block css %} 
    <link rel="stylesheet" href="{% static 'css/deals.css' %}">
{% endblock %}
{% block content %}
<div class="position-relative mt-md-5 mb-md-5 p-0" style="top: 70px;">
    <div class="row me-0">
        {% include 'category/order_by.html' %}
        <div class="col-lg-9 col-xl-10">
            <div class="card border-0">
                <div class="card-body p-0">
                    <div class="row m-auto me-0">
                        {% for product in products %}
                            <div class="col-md-6 col-lg-4 col-xl-3 mb-3 mb-lg-none d-flex align-items-stretch">
                                <div class="p-3 shadow rounded m-auto m-md-0" style="min-height: 100%;">
                                    <div class="d-flex justify-content-center">
                                        {% if product.productImages.all|len != 0 %}
                                            {% for image in product.productImages.all %}
                                                {% if forloop.first %}
                                                    <a href="{{ product.get_absolute_url }}">
                                                        <img class="img-fluid" src="{{ image.image.url }}" alt="{{ product.name }}" />
                                                    </a>
                                                {% endif %}
                                            {% endfor%}
                                        {% else %}
                                            <a href="{{ product.get_absolute_url }}">
                                                <img class="img-fluid" src="{% static 'Images/No_image.jpg' %}" alt="No Image"/>
                                            </a>
                                        {% endif%}
                                    </div>
                                    <hr>
                                    <h3 class="fs-5">{{ product.name }}</h3>
                                    <div class="text-black d-flex justify-content-start align-items-center">
                                        {% if product.deals.all|len != 0 %}
                                            {% for deal in product.deals.all %}
                                                <div class="fs.2 fw-bold text-decoration-line-through text-danger">{{ product.price }} LEi</div>
                                                <div class="ms-2 fs.2 fw-bold text-primary">{{ product.price|deals:deal}} LEi</div>
                                            {% endfor %}
                                        {% else %}
                                            <div class="fs.2 fw-bold">{{ product.price }} LEi</div>
                                        {% endif %}
                                        <form action="{% url 'cart:cart_add' product.id %}" method='post'>
                                            {{ add_to_cart }}
                                            {% csrf_token %}
                                            <button type="submit" class="ms-3 cart-button" style="background-color: white;border:none;">
                                                <i class="fas fa-shopping-cart text-primary"></i>
                                            </button>
                                        </form>
                                    </div>
                                    <div >
                                        {% if product.deals.all|len != 0 %}
                                            {% for deal in product.deals.all %}
                                                <img class="img-fluid" src="{{ deal.image.url }}" alt="{{ deal.image.url }}" style="max-width: 100px;">
                                                <div class="text-primary">Reducere {{ deal.deal_sum }}{% if deal.deal_choices == 'percent'%}%{% else %}Lei{% endif %}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <fieldset class="rating">
                                        {% if product.productRaiting.all|len != 0 %}
                                            {% with product.productRaiting.all|raiting as star %}
                                                {% for i in 6|times %}
                                                    {% if i <= star %}
                                                        <input type="radio"  name="rating" value="{{ forloop.counter }}" checked/>
                                                        <label class = "full" ></label>
                                                    {% else %}
                                                        <input type="radio"  name="rating" value="{{ forloop.counter }}"/>
                                                        <label class = "full" ></label>
                                                    {% endif%}
                                                {% endfor %}
                                            {% endwith %}
                                        {% else %}
                                            {% for i in 6|times %}
                                                <input type="radio"  name="rating" value="{{ forloop.counter }}"/>
                                                <label class = "full" ></label>
                                            {% endfor %}
                                        {% endif %}
                                    </fieldset>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}