<div class="col-lg-3 col-xl-2 border-end border-bottom mb-2 p-xl-0">
    <div class="row m-auto">
        <div class="col-7 col-md-4 col-lg-12 mb-5">
            <p class="fs-3">Category</p>
            <ul class="list-group list-group-flush">
                {% for category in categorys%}
                    <li class="list-group-item">
                        <a class="text-decoration-none text-muted" href="{% url 'category:products_category' category.slug %}">{{ category.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-7 col-md-4 col-lg-12 mb-5">
            <p class="fs-3">Order by</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a class="text-decoration-none text-muted" href="">Default</a>
                </li>
                <li class="list-group-item">
                    <a class="text-decoration-none text-muted" href="">Popularity</a>
                </li>
                <li class="list-group-item">
                    <a class="text-decoration-none text-muted" href="">Price: low to high</a> 
                </li>
                <li class="list-group-item">
                    <a class="text-decoration-none text-muted" href="">Price: high to low</a> 
                </li>
            </ul>
        </div>
        <div class="col-7 col-md-4 col-lg-12 mb-5">
            <p class="fs-3">Order by Raiting</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex align-items-center justify-content-between p-0">
                    <div class="rating">
                        <input type="radio"  name="rating" checked/>
                        <label class = "full" ></label>
                        <input type="radio"  name="rating" checked/>
                        <label class = "full" ></label>
                        <input type="radio"  name="rating" checked/>
                        <label class = "full" ></label>
                        <input type="radio"  name="rating" checked/>
                        <label class = "full" ></label>
                        <input type="radio"  name="rating" />
                        <label class = "full" ></label>
                    </div>
                    <a class="text-decoration-none text-muted" href="">
                        <i class="fas fa-chevron-right fa-fw d-fa-preview" style="font-weight: 900;"></i>
                    </a>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between p-0">
                    <div class="rating">
                        <input type="radio"  name="rating" checked/>
                        <label class = "full" ></label>
                        <input type="radio"  name="rating" checked/>
                        <label class = "full" ></label>
                        <input type="radio"  name="rating" checked/>
                        <label class = "full" ></label>
                        <input type="radio"  name="rating" />
                        <label class = "full" ></label>
                        <input type="radio"  name="rating" />
                        <label class = "full" ></label>
                    </div>
                    <a class="text-decoration-none text-muted" href="">
                        <i class="fas fa-chevron-right fa-fw d-fa-preview" style="font-weight: 900;"></i>
                    </a>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between p-0">
                    <div class="rating">
                        <input type="radio"  name="rating" checked/>
                        <label class = "full" ></label>
                        <input type="radio"  name="rating" checked/>
                        <label class = "full" ></label>
                        <input type="radio"  name="rating" />
                        <label class = "full" ></label>
                        <input type="radio"  name="rating" />
                        <label class = "full" ></label>
                        <input type="radio"  name="rating" />
                        <label class = "full" ></label>
                    </div>
                    <a class="text-decoration-none text-muted" href="">
                        <i class="fas fa-chevron-right fa-fw d-fa-preview" style="font-weight: 900;"></i>
                    </a>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between p-0">
                    <div class="rating">
                        <input type="radio"  name="rating" checked/>
                        <label class = "full" ></label>
                        <input type="radio"  name="rating" />
                        <label class = "full" ></label>
                        <input type="radio"  name="rating" />
                        <label class = "full" ></label>
                        <input type="radio"  name="rating" />
                        <label class = "full" ></label>
                        <input type="radio"  name="rating" />
                        <label class = "full" ></label>
                    </div>
                    <a class="text-decoration-none text-muted" href="">
                        <i class="fas fa-chevron-right fa-fw d-fa-preview" style="font-weight: 900;"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>