{% extends 'base.html' %}
{% load static %}
{% load tags %}

{% block content %}
    <div class="container position-relative"  style="top: 70px; min-height: 100vh;">
        {% if cart %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Image</th>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Ammount</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for item in cart %}
                            {% with product=item.product %}
                            <tr>
                                <th class="align-middle">
                                    {{ forloop.counter }} 
                                </th>
                                <th>
                                    {% if product.productImages.all|len != 0 %}
                                        {% for image in product.productImages.all %}
                                            {% if forloop.first %}
                                                <img class="img-fluid" src="{{ image.image.url }}" alt="{{ product.name }}" style="max-width: 150px;">
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <a href="{{ product.get_absolute_url }}">
                                            <img class="img-fluid" src="{% static 'Images/No_image.jpg' %}" alt="No Image" style="max-width: 150px;"/>
                                        </a>
                                    {% endif %}
                                </th>
                                <td class="align-middle">{{ product.name }}</td>
                                <td class="align-middle" style="min-width: 100px;">
                                    {% if product.deals.all|len != 0 %}
                                        {% for deal in product.deals.all %}
                                            <div class="fs.2 fw-bold text-decoration-line-through text-danger">{{ product.price }} LEi</div>
                                            <div class="ms-2 fs.2 fw-bold text-primary">{{ product.price|deals:deal}} LEi</div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="fs.2 fw-bold">{{ product.price }} LEi</div>
                                    {% endif %}
                                </td>
                                <td class="align-middle">
                                    <div class="d-flex align-items-center">
                                        {{ item.quantity }}
                                        <div class="d-flex flex-row-reverse ">
                                            <form action="{% url 'cart:cart_add' product.id %}" method='post'>
                                                {{ add_to_cart }}
                                                {% csrf_token %}
                                                <button type="submit" class="cart-button btn btn-primary" style="border-bottom-right-radius: 20px;
                                                                                                                    border-top-right-radius: 20px;
                                                                                                                    border-bottom-left-radius: 0;
                                                                                                                    border-top-left-radius: 0;
                                                                                                                    ">
                                                    <i class="fas fa-chevron-right "></i>
                                                </button>
                                            </form>
                                            <form action="{% url 'cart:cart_decrease' product.id %}" method='post'>
                                                {{ add_to_cart }}
                                                {% csrf_token %}
                                                <button type="submit" class="ms-3 cart-button btn btn-primary" style="border-bottom-left-radius: 20px;
                                                                                                                    border-top-left-radius: 20px;
                                                                                                                    border-bottom-right-radius: 0;
                                                                                                                    border-top-right-radius: 0;
                                                                                                                    ">
                                                    <i class="fas fa-chevron-left "></i>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle">
                                    {% if product.deals.all|len != 0 %}
                                        {% for deal in product.deals.all %}
                                            <div class="ms-2 fs.2 fw-bold text-primary">{{ product.price|deals:deal}} LEi</div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="fs.2 fw-bold">{{ product.price }} LEi</div>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endwith %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-end my-3">
                <div class="fs-4 fw-semibold mx-2">
                    Total: {{ cart.get_total_price }} Lei
                </div>
                <a href="{% url 'cart:checkout' %}" class="btn btn-primary">
                    Complet Purchase
                </a>
            </div>
        {% else %} 
        <div class="text-center">
            No Products
        </div>
        {% endif %}
    </div>
    
{% endblock %}