<script id="regions_data" type="application/json">
    [
    {"region":"Alba"},
    {"region":"Arad"},
    {"region":"Arges"},
    {"region":"Bacau"},
    {"region":"Bihor"},
    {"region":"Bistrita-Nasaud"},
    {"region":"Botosani"},
    {"region":"Braila"},
    {"region":"Brasov"},
    {"region":"Bucuresti"},
    {"region":"Buzau"},
    {"region":"Calarasi"},
    {"region":"Caras-Severin"},
    {"region":"Cluj"},
    {"region":"Constanta"},
    {"region":"Covasna"},
    {"region":"Dambovita"},
    {"region":"Dolj"},
    {"region":"Galati"},
    {"region":"Giurgiu"},
    {"region":"Gorj"},
    {"region":"Harghita"},
    {"region":"Hunedoara"},
    {"region":"Ialomita"},
    {"region":"Iasi"},
    {"region":"Ilfov"},
    {"region":"Maramures"},
    {"region":"Mehedinti"},
    {"region":"Mures"},
    {"region":"Neamt"},
    {"region":"Olt"},
    {"region":"Prahova"},
    {"region":"Salaj"},
    {"region":"Satu Mare"},
    {"region":"Sibiu"},
    {"region":"Suceava"},
    {"region":"Teleorman"},
    {"region":"Timis"},
    {"region":"Tulcea"},
    {"region":"Valcea"},
    {"region":"Vaslui"},
    {"region":"Vrancea"}
    ]
</script>