<nav class="navbar bg-primary text-white d-none d-md-flex">
    <div class="container justify-content-center">
      <span class="navbar-brand mb-0 h1">Category</span>
      {% for category in categorys %}
        <div class="dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                {% if category.svg %}
                    {{ category.svg|safe }}
                {% else %}
                    {{ category.image.as_html }}
                {% endif %}
                {{ category.title }}
            </a>
        
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                {% for brands in category.brands.all%}
                    <li><a class="dropdown-item" href="{% url 'category:product_brands' brands.slug category.slug %}">{{ brands.title}}</a></li>
                {% endfor %}
            </ul>
        </div>
      {% endfor %}
    </div>
</nav>