{% extends 'base.html' %}
{% load static %}
{% load tags %}

{% block content %}
    <div class="position-relative container" style="top: 70px; height: 100vh;">
        {% for order in orders %}
            <div class="table-responsive mb-3">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Ammount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in order.order.all %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ item.product }}</td>
                                <td>{{ item.product.price }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.price }}</td>
                                
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="w-100 d-flex justify-content-between">
                    <div>
                        total: {{ order.order.all.values|totalPrice }} <br>
                        Date: {{ order.created }}
                    </div>
                    <div>
                        <a class="btn btn-primary" href="{% url 'cart:download' order.id %}">Download PDF</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
  {% endblock %}