#sidebar{
    transition: all 0.5s;
    background:rgba(0, 0, 0, 0.5) ;
}

.sidebarclose{
    transform: translateX(-100%);
}

#headernav{
    transition: max-height 0.2s ease-out;
    height: 70px;
}