{% extends 'base.html' %}
{% load static %}
{% load tags %}

{% block css %} 

{% endblock %}

{% block content %}
<div class="container position-relative my-3" style="top: 70px;">
    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Your cart</span>
          <span class="badge bg-primary rounded-pill">{{ cart.cart_products }}</span>
        </h4>
        <ul class="list-group mb-3">
          {% for item in cart %}
            {% with product=item.product %}
              <li class="list-group-item d-flex justify-content-between lh-sm">
                <div class="d-flex align-items-center">
                  {% if product.productImages.all|len != 0 %}
                      {% for image in product.productImages.all %}
                          {% if forloop.first %}
                              <img class="img-fluid" src="{{ image.image.url }}" alt="{{ product.name }}" style="max-width: 50px;">
                          {% endif %}
                      {% endfor %}
                  {% else %}
                    <a href="{{ product.get_absolute_url }}">
                        <img class="img-fluid" src="{% static 'Images/No_image.jpg' %}" alt="No Image" style="max-width: 50px;"/>
                    </a>
                  {% endif %}
                  <h6 class="my-1">{{ product.name }}</h6>
                </div>
                <span class="text-muted">{{ item.price }} Lei</span>
              </li>
            {% endwith %}
          {% endfor %}
          <li class="list-group-item d-flex justify-content-between bg-light">
            <div class="text-success">
              <h6 class="my-0">Promo code</h6>
              <small>EXAMPLECODE</small>
            </div>
            <span class="text-success">−$5</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (USD)</span>
            <strong>$20</strong>
          </li>
        </ul>
        <form class="card p-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Promo code">
            <button type="submit" class="btn btn-secondary">Redeem</button>
          </div>
        </form>
      </div>
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Billing address</h4>
        <form class="needs-validation" novalidate="">
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">First name</label>
              <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">Last name</label>
              <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>

            <div class="col-12">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" placeholder="you@example.com">
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

            <div class="col-12">
              <label for="address" class="form-label">Address</label>
              <input type="text" class="form-control" id="address" placeholder="1234 Main St" required="">
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>

            <div class="col-12">
              <label for="address2" class="form-label">Address 2 <span class="text-muted">(Optional)</span></label>
              <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
            </div>

            <div class="col-md-5">
              <label for="region" class="form-label">Region</label>
              <select class="form-select" id="regions" required="">
                <option value="">Choose...</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid country.
              </div>
            </div>

            <div class="col-md-4">
              <label for="town" class="form-label">Town</label>
              <select class="form-select selectpicker" id="towns" disabled required="">
                <option value="">Choose...</option>
              </select>
              <div class="invalid-feedback">
                Please provide a valid state.
              </div>
            </div>

            <div class="col-md-3">
              <label for="zip" class="form-label">Zip</label>
              <input type="text" class="form-control" id="zip" placeholder="" required="">
              <div class="invalid-feedback">
                Zip code required.
              </div>
            </div>
          </div>

          <hr class="my-4">

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="same-address">
            <label class="form-check-label" for="same-address">Shipping address is the same as my billing address</label>
          </div>

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="save-info">
            <label class="form-check-label" for="save-info">Save this information for next time</label>
          </div>

          <hr class="my-4">

          <h4 class="mb-3">Payment</h4>

          <div class="my-3">
            <div class="form-check">
                <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked="" required="">
                <label class="form-check-label" for="credit">Cash on delivery</label>
            </div>
            <div class="form-check">
              <input id="credit" name="paymentMethod" type="radio" class="form-check-input" disabled required="">
              <label class="form-check-label" for="credit" disabled>Credit card</label>
            </div>
            <div class="form-check">
              <input id="debit" name="paymentMethod" type="radio" class="form-check-input" disabled required="">
              <label class="form-check-label" for="debit" disabled>Debit card</label>
            </div>
            <div class="form-check">
              <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" disabled required="">
              <label class="form-check-label" for="paypal" disabled>PayPal</label>
            </div>
          </div>

          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>
        </form>
      </div>
    </div>
</div>

{% endblock %}

{% block scripts %} 
    {% include 'cart/regions.html' %}
    {% include 'cart/towns.html' %}
    <script src="{% static 'js/checkout.js' %}"></script>
{% endblock %}
