{% load static %}
{% load tags %}

<div class="container-md mt-md-5 mb-md-5 p-0">
    <div class="card border-0">
        <div class="card-header justify-content-center d-flex border-0 shadow">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item"><a class="nav-link {% if 'all' in section  %} active {% endif %}" href="{% url 'home:home' %}">All Products</a></li>
                <li class="nav-item"><a class="nav-link {% if 'popularity' in section  %} active {% endif %}" href="{% url 'home:homePopularity' %}">Popularity</a></li>
            </ul>
        </div>
        <div class="card-body p-0">
            <div>
                <div class="container">
                    <div class="row">
                        {% for product in products %}
                            {% if forloop.first %}
                                <div class="col-md-12 p-3 mt-3 mb-3 shadow rounded">
                                    <div class="row">
                                        <div class="col-lg-6 d-flex align-items-center justify-content-center">
                                            {% if product.productImages.all|len != 0 %}
                                                {% for image in product.productImages.all %}
                                                    {% if forloop.first %}
                                                        <a href="{{ product.get_absolute_url }}">
                                                            <img class="img-fluid" src="{{ image.image.url }}" alt="{{ product.name }}"/>
                                                        </a>
                                                    {% endif %}
                                                {% endfor%}
                                            {% else %}
                                                <a href="{{ product.get_absolute_url }}">
                                                    <img class="img-fluid" src="{% static 'Images/No_image.jpg' %}" alt="No Image"/>
                                                </a>
                                            {% endif%}
                                        </div>
                                        <div class="col-lg-6 d-flex align-items-center">
                                            <div class="w-100">
                                                <h3 class="my-3">{{ product.name }}</h3>
                                                <div class="accordion d-none d-md-block" id="{{ product.slug }}">
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="{{ product.slug }}_headingOne">
                                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{ product.slug }}_collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                            Description
                                                            </button>
                                                        </h2>
                                                        <div id="{{ product.slug }}_collapseOne" class="accordion-collapse collapse show" aria-labelledby="{{ product.slug }}_headingOne" data-bs-parent="#{{ product.slug }}">
                                                            <div class="accordion-body">
                                                            {{ product.description }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="{{ product.slug }}_headingTwo">
                                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ product.slug }}_collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                            Detail
                                                            </button>
                                                        </h2>
                                                        <div id="{{ product.slug }}_collapseTwo" class="accordion-collapse collapse" aria-labelledby="{{ product.slug }}_headingTwo" data-bs-parent="#{{ product.slug }}">
                                                            <div class="accordion-body">
                                                                {% if product.productDetails.all|len != 0 %}
                                                                    {% for detail in product.productDetails.all %}
                                                                        {{ detail.detail_name }} {{ detail.detail_value }}
                                                                    {% endfor %}
                                                                {% else %}
                                                                    No details
                                                                {% endif%}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="text-black d-flex justify-content-start align-items-center">
                                                    {% if product.deals.all|len != 0 %}
                                                        {% for deal in product.deals.all %}
                                                            <div class="fs.2 fw-bold text-decoration-line-through text-danger">{{ product.price }} LEi</div>
                                                            <div class="ms-2 fs.2 fw-bold text-primary">{{ product.price|deals:deal}} LEi</div>
                                                        {% endfor %}
                                                    {% else %}
                                                        <div class="fs.2 fw-bold">{{ product.price }} LEi</div>
                                                    {% endif %}
                                                    <form action="{% url 'cart:cart_add' product.id %}" method='post'>
                                                        {{ add_to_cart }}
                                                        {% csrf_token %}
                                                        <button type="submit" class="ms-3 cart-button" style="background-color: white;border:none;">
                                                            <i class="fas fa-shopping-cart text-primary"></i>
                                                        </button>
                                                    </form>
                                                </div>
                                                <div >
                                                    {% if product.deals.all|len != 0 %}
                                                        {% for deal in product.deals.all %}
                                                            <img class="img-fluid" src="{{ deal.image.url }}" alt="{{ deal.image.url }}" style="max-width: 100px;">
                                                            <div class="text-primary">Reducere {{ deal.deal_sum }}{% if deal.deal_choices == 'percent'%}%{% else %}Lei{% endif %}</div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                                <fieldset class="rating">
                                                    {% with product.productRaiting.all|raiting as star %}
                                                        {% for i in 6|times %}
                                                            {% if i <= star %}
                                                                <input type="radio"  name="rating" value="{{ forloop.counter }}" checked/>
                                                                <label class = "full" ></label>
                                                            {% else %}
                                                                <input type="radio"  name="rating" value="{{ forloop.counter }}"/>
                                                                <label class = "full" ></label>
                                                            {% endif%}
                                                        {% endfor %}
                                                    {% endwith %}
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 d-flex align-items-center">
                                            {% for deal in product.deals.all %}
                                                {{ deal}}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="col-lg-4 col-xl-3  mb-3 mb-lg-none d-flex align-items-stretch">
                                    <div class="p-3 shadow rounded " style="min-height: 100%;min-width:100%;">
                                        <div class="d-flex justify-content-center">
                                            {% if product.productImages.all|len != 0 %}
                                                {% for image in product.productImages.all %}
                                                    {% if forloop.first %}
                                                        <a href="{{ product.get_absolute_url }}">
                                                            <img class="img-fluid" src="{{ image.image.url }}" />
                                                        </a>    
                                                    {% endif %}
                                                {% endfor%}
                                            {% else %}
                                                <a href="{{ product.get_absolute_url }}">
                                                    <img class="img-fluid" src="{% static 'Images/No_image.jpg' %}" alt="No Image" />
                                                </a>
                                            {% endif%}
                                        </div>
                                        <hr>
                                        <h3 class="fs-5">{{ product.name }}</h3>
                                        <div class="text-black d-flex justify-content-start align-items-center">
                                            {% if product.deals.all|len != 0 %}
                                                {% for deal in product.deals.all %}
                                                    <div class="fs.2 fw-bold text-decoration-line-through text-danger">{{ product.price }} LEi</div>
                                                    <div class="ms-2 fs.2 fw-bold text-primary">{{ product.price|deals:deal}} LEi</div>
                                                {% endfor %}
                                            {% else %}
                                                <div class="fs.2 fw-bold">{{ product.price }} LEi</div>
                                            {% endif %}
                                            <form action="{% url 'cart:cart_add' product.id %}" method='post'>
                                                {{ add_to_cart }}
                                                {% csrf_token %}
                                                <button type="submit" class="ms-3 cart-button" style="background-color: white;border:none;">
                                                    <i class="fas fa-shopping-cart text-primary"></i>
                                                </button>
                                            </form>
                                        </div>
                                        <div >
                                            {% if product.deals.all|len != 0 %}
                                                {% for deal in product.deals.all %}
                                                    <img class="img-fluid" src="{{ deal.image.url }}" alt="{{ deal.image.url }}" style="max-width: 100px;">
                                                    <div class="text-primary">Reducere {{ deal.deal_sum }}{% if deal.deal_choices == 'percent'%}%{% else %}Lei{% endif %}</div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <fieldset class="rating">
                                            {% with product.productRaiting.all|raiting as star %}
                                            {% for i in 6|times %}
                                                {% if i <= star %}
                                                    <input type="radio"  name="rating" value="{{ forloop.counter }}" checked/>
                                                    <label class = "full" ></label>
                                                {% else %}
                                                    <input type="radio"  name="rating" value="{{ forloop.counter }}"/>
                                                    <label class = "full" ></label>
                                                {% endif%}
                                            {% endfor %}
                                        {% endwith %}
                                        </fieldset>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


