{% load mathfilters %}
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <ol class="list-group">
                {% for category in categorys%}
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">{{ category.title }}</div>
                        </div>
                        {% for products in category.productsCategory.all %}
                            {% if forloop.last %}
                                <span class="badge bg-primary rounded-pill">{{forloop.counter}}</span>
                            {% endif %}
                        {% endfor %}
                    </li>
                {% endfor %}
            </ol>
        </div>
        <div class="col-lg-8">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>