{% load static %}
{% load tags %}

<div id="sidebar" class="fixed-top w-100 h-100 sidebarclose d-md-none">
  <div id="insideSidebar" class="d-flex flex-column flex-shrink-0 p-3 bg-white h-100" style="width: 50%;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Category</span>
    </a>
    <div>
      <input id="search" class="form-select nosubmit" placeholder="Search" onkeyup="search_products()">
      <div class="position-relative w-100 d-none" id="browse">
        <div class="position-absolute card w-100 bg-light overflow-auto" style="max-height: 300px;">
          {% for product in products %}
            <div class="search-item">
              <a class="nav-link text-black" href="{{ product.get_absolute_url }}">
                {{ product.name }}</a>
            </div>
          {% endfor %}
        </div>
      </div>  
    </div>
    <ul class="nav nav-pills flex-column mb-auto">
      {% for category in categorys %}
        <li class="nav-item ">
            <a class="nav-link dropdown-toggle text-black" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="true">
                {% if category.svg %}
                    {{ category.svg|safe }}
                    
                {% else %}
                    {{ category.image.as_html }}
                {% endif %}
                {{ category.title }}
            </a>
        
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for brands in category.brands.all%}
                  <li><a class="dropdown-item" href="{% url 'category:product_brands' brands.slug category.slug %}">{{ brands.title}}</a></li>
                {% endfor %}
            </ul>
        </li>
      {% endfor %}
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>mdo</strong>
      </a>
      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>
</div>
