{% load tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <style>
            .table{
                border-bottom: 1px solid black;
            }
            th,td{
                padding: 5px;
                text-align: center;
            }
            .price{
                margin: 10px;
            }
        </style>
    </head>
    <body>
        <div>
            <div>
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Ammount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in data %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ order.product }}</td>
                                <td>{{ order.product.price }}</td>
                                <td>{{ order.quantity }}</td>
                                <td>{{ order.price }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="price">
                Total: {{ data.values|totalPrice }} Lei <br>
            </div>
        </div>
    </body>
</html>